openapi: 3.0.4
info:
  title: Hangman Word Generator
  description: >-
    Hangman Word Generator provides random words for hangman games with category
    filtering and difficulty levels based on word length.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/hangmanword:
    get:
      summary: Generate Hangman Words
      description: Get random words for hangman
      operationId: hangmanword
      parameters:
        - name: category
          in: query
          schema:
            type: string
          required: false
          description: Word category
          example: animals
        - name: difficulty
          in: query
          schema:
            type: string
          required: false
          description: Difficulty level
          example: medium
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: Number of words
          example: 1
        - name: image
          in: query
          schema:
            type: boolean
          required: false
          description: Set to true to generate a downloadable puzzle image
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  words:
                    - word: PORCUPINE
                      blanks: _ _ _ _ _ _ _ _ _
                      length: 9
                      uniqueLetters: 8
                      difficulty: medium
                      category: animals
                      maxGuesses: 7
                  count: 1
                  difficulty: medium
                  category: animals
                  html: >-
                    <html><head><title>Hangman Words</title><style>body
                    {font-family: Arial, sans-serif; padding: 20px; max-width:
                    600px; margin: 0 auto;}h1 {text-align: center;}.word-card
                    {background: #f5f5f5; padding: 25px; margin: 20px 0;
                    border-radius: 10px; text-align: center;}.blanks {font-size:
                    32px; font-family: monospace; letter-spacing: 8px; margin:
                    20px 0;}.info {font-size: 14px; color: #666;}.category
                    {background: #2196F3; color: white; padding: 5px 15px;
                    border-radius: 20px; display: inline-block; margin-bottom:
                    15px;}.hangman {font-size: 40px; margin: 20px
                    0;}</style></head><body><h1>Hangman</h1><div
                    class='word-card'><span class='category'>animals</span><div
                    class='hangman'>&#128128;</div><div class='blanks'>_ _ _ _ _
                    _ _ _ _</div><div class='info'>9 letters | 8 unique | Max 7
                    wrong guesses</div></div></body></html>
                  image:
                    imageName: d6e69eac-546c-4a2b-8413-2b65fd4a109a_hangman.png
                    format: .png
                    downloadURL: >-
                      https://storage.googleapis.com/apiverve/APIData/hangmanword/d6e69eac-546c-4a2b-8413-2b65fd4a109a_hangman.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010232&Signature=En2KyqlZwODc1wOwqTyuVtHq5LqNHuFXdn9Xw6nKlwhmB2SMV9HTSwpfVi9SS1tC6tnq0sntOPZ4ANH8McPxnjqFJhT2VKXAObQSRha6IHR9J1ymSpH%2F5TJ4AmlRZ8nLvW1jXPWjNvnUvgrd%2BfN5zK1u9pQ1MYatBVeg63y0rOdxSPcJBMX%2BDdgzG1lJK3Rmugr0HWoVb9ocfk8R%2FGVPsLXzHuwZySOk%2BCyQ1IZAWoqYuX7v3wKf3JHhiK9ZQ%2FG58j2dSychhcDsBZyKXN1wSpRsRB%2F03F6zKkykiiVw%2FuGr9kjPGK1QRJ9XJZzLZ0Z9S%2BQ6ZoD5FrCJwTIVXTPHxg%3D%3D
                    expires: 1766010232291
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
